<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <p>This is the about page <%= 44 + 5 %>.</p>
    <script src="/javascripts/script.js"></script>
</body>
</html>