<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Welcome to <%= 4 + 5 %></h1>
    <script src="/javascripts/script.js"></script>
</body>
</html>